<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chilkat-x64" version="9.5.0.91" targetFramework="net40" />
  <package id="DigitalPersonaSDK.net" version="1.0.0" targetFramework="net40" />
  <package id="EmitterSharp" version="1.1.1.1" targetFramework="net40" />
  <package id="EngineIoClientDotNet" version="0.9.22" targetFramework="net40" />
  <package id="EngineIOSharp" version="2.0.0.1" targetFramework="net40" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net40" />
  <package id="M2Mqtt" version="4.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" />
  <package id="Portable.BouncyCastle" version="1.8.10" targetFramework="net40" />
  <package id="Renci.SshNet.Async" version="1.4.0" targetFramework="net40" />
  <package id="SimpleThreadMonitor" version="1.0.2.1" targetFramework="net40" />
  <package id="SocketIO4Net.Client" version="0.6.26" targetFramework="net40" />
  <package id="SocketIoClientDotNet" version="0.9.13" targetFramework="net40" />
  <package id="SSH.NET" version="2020.0.1" targetFramework="net40" />
  <package id="System.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net40" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net40" />
  <package id="WebSocketSharp.CustomHeaders.CustomHttpServer" version="1.0.2.3" targetFramework="net40" />
  <package id="WebSocketSharp-NonPreRelease" version="1.0.0" targetFramework="net40" />
</packages>